@import url(./media-querys.css);
@import url(./style-header.css);
@import url(./front-page/style-front-page.css);
@import url(./footer.css);
@import url(./scroll.css);

:root{
    --font-prime: 'Montserrat', sans-serif;
    --font-second: 'Poppins', sans-serif;
    --font-logo: 'Pixel', sans-serif;
    --grey-dark: #222831;
    --grey-ligth: #393E46;
    --orange: #FD7014;
    --white-bonne: #EEEEEE;
}

body, html{
    font-family: var(--font-prime);
    color: black;
    font-size: 16px;
    background-color: var(--grey-dark);
    cursor: url('../img/cursor.png'), auto;
}

@font-face {
    font-family: 'Pixel';
    src: url(../font/pixelmix.woff);
    font-weight: normal;
}

