.encabezado{
    display: flex;
    align-items: center;
    margin: 2em 1em;
    justify-content: space-between;
}

.logo-inicio{
    font-family: var(--font-logo);
    font-size: 28px;
    color: var(--orange);
    margin: 0 .5em;
    flex: 1;
    text-align: left;
}

.logo-final{
    font-weight: 500;
    font-style: italic;
}

.nav-header{
    flex: 1;
    text-align: right;
}

.list-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    margin: 0 1em;
}

.list-header li > #home{
    margin-right: 2em;
}

.list-header li > #agregar{
    margin-left: 2em;
}


.item-list-header a{
    text-decoration: none;
    cursor: url('../img/pointer.png'), pointer;
}

.list-link{
    color: var(--white-bonne);
    cursor: url('../img/pointer.png'), pointer;
}


.header-cursor-text{
    cursor: url('/img/text.png'), text;
}

.btn-header{
    font-weight: 600;
    border-radius: 20px;
    padding: .5em 1em;
    color: var(--white-bonne);
    border: var(--orange) 2px solid;
}

.list-header .btn-header{
    margin: -1em;
}

.btn-orange{
    background-color: var(--orange);
    color: var(--white-bonne);
}