.products-section{
    background: var(--white-bonne);
    border-radius:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
}

.products-section-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mensaje-error-conexion{
    font-size: 20px;
    font-weight: 600;
    color: var(--orange);
}

.container-error{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 5em;
}

.error-icon{
    width: 200px;
}