@import url(./add-form.css);
@import url(./add-sucess.css);
@import url(./product-card.css);

.search-header{
    border: 1px solid var(--white-bonne);
    border-radius: 20px;
    padding: .7em 1em;
    width: 10vw;
    outline: none;
    background-color: transparent;
    flex: 1;
    text-align: center;
}

.search-header::placeholder{
    font-size: 13px;
    letter-spacing: 2px;
    background: url(/img/icon-search.png) no-repeat 1% center;
    text-align: center;
    font-family: var(--font-second) ;
}

.add-link{
    color: var(--orange);
    cursor: url(/img/pointer.png), pointer;
}

.mensaje-error-conexion{
    font-size: 20px;
    font-weight: 600;
    color: var(--orange);
}

.container-error{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.error-icon{
    width: 10vw;
}